
profiles {
    pawsey {
        
        singularity {
            enabled     = true
            autoMounts  = true
            autoCleanUp = true
        }

        // Submit up to 1024 concurrent jobs
        executor {
            queueSize = 1024
        }

        process {        
            resourceLimits = [
                memory: 230.GB,
                cpus: 64
            ]

            executor       = 'slurm'
            clusterOptions = "--account=${System.getenv('PAWSEY_PROJECT')}"
            module         = 'singularity/4.1.0-nohost'
            cache          = 'lenient'
            stageInMode    = 'symlink'
            queue = { task.memory <= 230.GB ? 'work' : 'highmem' }

            withName: SAMTOOLS_FAIDX {
                container = 'depot.galaxyproject.org-singularity-samtools-1.17--h00cdaf9_0'
                cpus = 1
                memory = 1800.MB
                time = '2h'
            }

            withName: YAHS {
                container = 'depot.galaxyproject.org-singularity-yahs-1.2a.2--h7132678_0'
                cpus = 12
                memory = 72.GB
                time = '2h'
            }

            withName: JUICER_PRE {
                container = 'depot.galaxyproject.org-singularity-yahs-1.2a.2--h7132678_0'
                ext.args2 = "LC_ALL=C sort -k2,2d -k6,6d -S50G | awk '\$3>=0 && \$7>=0'"
                cpus = 6
                memory = 24.GB
                time = '4h'
            }

            withName: PREPARE_PRETEXTMAP_INPUT {
                container = 'depot.galaxyproject.org-singularity-gawk-5.1.0'
                cpus = 6
                memory = 24.GB
                time = '4h'
            }

            withName: PRETEXTMAP {
                container = 'depot.galaxyproject.org-singularity-mulled-v2-f3591ce8609c7b3b33e5715333200aa5c163aa61-c6242a6c1a522137de7a9e9ff90779ede11cf5c5-0'
                cpus = 1
                memory = 1800.MB
                time = '2h'
            }

            withName: PRETEXTSNAPSHOT {
                container = 'depot.galaxyproject.org-singularity-pretextsnapshot-0.0.4--h7d875b9_0'
                ext.args = '--sequences \"=full\"'
                cpus = 1
                memory = 1800.MB
                time = '2h'
            }
        }

        aws { 
            client {
                endpoint = 'https://projects.pawsey.org.au'
                s3PathStyleAccess = true
                maxConnections = 4
                maxErrorRetry = 20
                uploadMaxAttempts = 20
            }
        }
    }
}